.fabicon-labels {
    position: fixed;
    right: -20px;
    display: flex;
    flex-direction: column;
  }
  
.fabicon-label {
    font-weight: 700;
    display: flex;
    margin-bottom: 10px; 
    width: 150px;
  }
  
.fabicon-label span {
    color: #000;
    padding: 4px 8px;
    font-size: 12px; 
  }

.label{
    text-align: right;
    position: relative;
    top: 5px;
    width: 75px;
}

.participant-btn{
  border-radius: 100%;
  font-size: 1.3rem;
}

.participant-btn:active{
  background-color: #dde6ed;
}